.menu-background {
    width: 185px;

    background-color: #171717;
    border-radius: 16px;
    opacity: 0;
    transition: opacity 0.15s ease;
    box-sizing: border-box;

    position: fixed;
    top: 72px;
    right: 32px;

    /* 🌙 Subtle, matching shadow */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}
.menu-button {
    width: 169px;
    height: 44px;

    background-color: #171717;
    border-radius: 10px;
    transition: background-color 0.3s ease;

    position: relative;
    margin: 8px;

    cursor: pointer;
}
.menu-button:hover {
    background-color: #222222;
}
.menu-button-text {
    color: #CECECE;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;

    position: absolute;
    top: 12px;
    left: 52px;
    margin: 0;
}
.my-stats-button-symbol {
    position: absolute;
    top: 8px;
    left: 15px;
    margin: 0;
}
.settings-button-symbol {
    position: absolute;
    top: 11px;
    left: 17px;
    margin: 0;
}
.menu-logout-button-text {
    color: #FF4545;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;

    position: absolute;
    top: 12px;
    left: 52px;
    margin: 0;
}
.menu-logout-button-symbol {
    position: absolute;
    top: 12px;
    left: 18px;
    margin: 0;
}